<h1>Create A Cat!</h1>

<!-- <form action="<%= cats_url %>" method="POST">
    <label>Cat Name:
        <input type="text" name="cat[name]" value="<%=@new_cat.name%>">
    </label>

    <br>

    <label>Sex:
        <label for="M">M</label>
        <input type="radio" name="cat[sex]" value="M">
        <label for="F">F</label>
        <input type="radio" name="cat[sex]" value="F">
    </label>

    <br>

    <label for="color">Choose a color:</label>
    <select name="cat[color]" id="color">
        <option selected="">--Select a color--</option>
        <option value="black">Black</option>
        <option value="brown">Brown</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
    </select>

    <br>

    <label for="birth_date">Birth Date:</label>

    <input type="date" name="cat[birth_date]" id="">

    <br>

    <label for="description">Team:</label>
    <br>
    <textarea name="cat[description]" id="" cols="30" rows="10" value = "<%=@new_cat.description%>"></textarea>
    <br>
    <input type="submit" value="Create My Cat">

</form> -->

<%= render 'form', cat: @cat, type: 'new' %>